abel==0.0.6
annotated-types==0.7.0
bffile==0.1.1
bioio==3.4.0
bioio-base==3.4.0
bioio-bioformats==2.0.0
bm3d==4.0.3
bm4d==4.2.5
certifi==2026.6.17
charset-normalizer==3.4.9
cjdk==0.5.0
click==8.4.2
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
dask==2026.7.0
distributed==2026.7.0
flexcache==0.3
flexparser==0.4
fonttools==4.63.0
fsspec==2026.6.0
hdbscan==0.8.44
idna==3.18
ImageIO==2.37.3
imbalanced-learn==0.14.2
iniconfig==2.3.0
jgo==3.1.0
Jinja2==3.1.6
joblib==1.5.3
jpype1==1.7.1
kiwisolver==1.5.0
lazy-loader==0.5
llvmlite==0.48.0
locket==1.0.0
lxml==6.1.1
MarkupSafe==3.0.3
matplotlib==3.11.0
msgpack==1.2.1
narwhals==2.23.0
networkx==3.6.1
numba==0.66.0
numpy==2.4.6
ome-types==0.6.3
opencv-python==5.0.0.93
packaging==26.2
pandas==3.0.3
partd==1.4.2
pillow==12.3.0
Pint==0.25.3
platformdirs==4.10.0
pluggy==1.6.0
progressbar2==4.5.0
psutil==7.2.2
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic_core==2.46.4
Pygments==2.20.0
pynndescent==0.6.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-utils==4.0.0
PyWavelets==1.9.0
PyYAML==6.0.3
requests==2.34.2
resource-backed-dask-array==0.1.0
scikit-image==0.26.0
scikit-learn==1.9.0
scipy==1.18.0
scyjava==1.12.5
seaborn==0.13.2
semver==3.0.4
six==1.17.0
sklearn-compat==0.1.6
sortedcontainers==2.4.0
tblib==3.2.2
threadpoolctl==3.6.0
tifffile==2026.6.1
tomli_w==1.2.0
toolz==1.1.0
tornado==6.5.7
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.16.0
umap-learn==0.5.12
urllib3==2.7.0
xarray==2026.7.0
xsdata==26.2
zict==3.0.0
